<div ng-include="'/components/navbar/navbar.html'" ng-controller="navbarController"></div>


<div id="distant-background ">

<div class="home container">

  <header class="row hero-unit">
    <h2 class="welcome-text">welcome to</h2>
    <h3 class="welcome-text text-center">Room: {{data.currentRoom}}</h3>

      <!--video part -->
    <div class="col-md-8">
        <div id="partner-video-wrapper">
            <video id="other"></video>
            <div id="partner_name_container"></div>
        </div>
<!--       		<video id="other" width="600" height="400"></video>
    		<div id="partner_name_container"></div> -->

      <!-- small video -->
    	<div id="self-container">
        <!-- <div id="self-container-wrap"> -->
          <!-- <div id="self-container"> -->
             <video id="self" width="150" height="100" muted="muted" volume="0"></video>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <video width="150" height="100" muted="muted" volume="0"></video> -->
      </div>

    </div>

    <!-- note part -->
    <div class="col-md-4">
        <textarea class="note" placeholder="Make notes!"></textarea>
    </div>
  </header>

  <section class="row sub-section">
    <div class="col-md-4">
      <h2>Prepare interview</h2>
      <p>Rambl is an online community for improving technical interview skills.</p>
      <p>Rambl enables face-to-face video chat practice interviews over the web.</p>
      <p>Real interviewers will guide you through practice interviews so you can master your skills.</p>
      <a href="#/signup" class="btn btn-primary btn-lg">Find more</a>
    </div>
    <div class="col-md-4">
      <h2>I am an interviewer</h2>
      <p>Rambl is an online community for improving technical interview skills.</p>
      <p>Rambl enables face-to-face video chat practice interviews over the web.</p>
      <p>Real interviewers will guide you through practice interviews so you can master your skills.</p>
      <a href="#/signup" class="btn btn-primary btn-lg">Find more</a>
    </div>
    <div class="col-md-4">
      <h2>I am an interviewee</h2>
      <p>Rambl is an online community for improving technical interview skills.</p>
      <p>Rambl enables face-to-face video chat practice interviews over the web.</p>
      <p>Real interviewers will guide you through practice interviews so you can master your skills.</p>
      <a href="#/signup" class="btn btn-primary btn-lg">Find more</a>
    </div>
  </section>



<!--<div class="row">
  <div class="col-md-offset-8 col-md-4">
    <div id="note-col-wrap">

      <div id="arrow-up"></div>
      <div id="tool-index">
        <h3>Click above to allow camera access</h3>
      </div>

      <div id="note-taking-container">
        <textarea id="note-pad" placeholder="Make notes!"></textarea>
      </div>
    </div>
  </div>
</div>


  <div class="container main_room_container">


    <div class="row">
  	  <div class="page-header room-header">
  	    <h1 class="text-center">Room: {{data.currentRoom}}</h1>
  	  </div>
  	</div>



    <div class="row">
      <div class="col-md-offset-1 col-md-11">

        <div id="self-container-wrap">
          <div id="self-container">
    	       <video id="self" width="150" height="100" muted="muted" volume="0"></video>
          </div>
        </div>
 -->
		    <!-- <div class="questions_container">
		      <button class="questions_button btn btn-primary" ng-show="showQuestions"
		        ng-click="showQuestions = !showQuestions">Show Questions</button>
		      <button class="hide_questions_button btn btn-primary" ng-show="showQuestions"
		        ng-click="showQuestions = !showQuestions">Hide</button>
		      <button class="hide_questions_button btn btn-primary" ng-show="showQuestions"
		        ng-click="shuffleQuestions()">Random</button>
		      <ul class="list-group questions" ng-show="showQuestions">
		        <li class="list-group-item" ng-repeat="question in data.questions">{{question}}</li>
		      </ul>
		    </div> -->


<!--         <div class="row">
          <div class="col-md-12">
            <div id="partner-video-wrapper">
        	    <video id="other" width="600" height="400"></video>
              <div id="partner_name_container"></div>
            </div>
          </div>
        </div>

  	  </div>
    </div>

  </div>  --><!-- end main_room_container -->

</div>
