<!-- <div ng-controller="authController"><p>You're signing up.</p>
 -->
  <div id='signup'>
    <h2>Sign Up!</h2>
    <form name='signupForm' ng-submit='signup();'>
      Email Address: <input type='text' ng-model='user.email'>
      <br/>
      Your Name: <input type='text' ng-model='user.name'>
      <br/>
      Password: <input type='password' ng-model='user.password'>
      <br/>
<!--       Re-enter Password: <input type='password' name='signupPasswordAgain' ng-model='user.password'>
      <br/>
 --> 
      <button>SignUp</button>
    </form>
    <a href='#/lobby'>Lobby</a>
  </div>

<!-- </div>
 -->