<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="#/">Rambl</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href='#/signup'>Signup</a></li>
    </ul>
  </div>
</nav> 

<br />

<div class="container">
  <div class="signup">
    <div id="signup" class="jumbotron signup_div">
      <h2>Sign Up!</h2>
      <form name="signupForm" ng-submit="signup();">
        <input placeholder='Your email' required class="form-control" type="email" maxlength="32" ng-model="user.email">
        <input placeholder='Your display name' required class="form-control" type="text" maxlength="32" ng-model="user.name">
        <input placeholder='Password' required class="form-control" type="password" maxlength="32" ng-model="user.password">
        <br/>
  <!--       Re-enter Password: <input type='password' name='signupPasswordAgain' ng-model='user.password'>
        <br/>
   --> 
        <button class="btn btn-primary bt-lg">Submit</button>
      </form>
      <br />
      <a href='#/'>Login</a>
    </div>
  </div>
</div>

<div class="footer">
  <p class="copyright">&copy; 2014 Rambl</p>
</div>