/* styles applied to all views */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #0d747c;
}

.copyright {
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

/* home view styles */
.logo {
  color: #fff;
  font-size: 4em;
}

.logo_container {
  margin-top: 11px;
  margin-bottom: 30px;
}

.signin_div input {
  padding: 4px;
  margin-top: 4px;
}

.signin {
  width: 440px !important;
  display: block;
  margin: 0 auto;
}

/* signup view styles */
.signup {
  width: 440px !important;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.signup_div input {
  padding: 4px;
  margin-top: 4px;
}

/* about view styles */
.about {
  width: 440px !important;
  display: block;
  margin: 0 auto;
}

.about p {
  font-size: 1.2em;
}

/* lobby view styles */
#lobby-container {
  position: fixed;
  background-image: url("images/Candidates.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 50px !important;
  left: 0;
  width: 100%;
  height: 100%;
}


/* room view styles */
#self {
  position: absolute;
  left: 0;
}

#other {
  display: block;
  margin: 0 auto;
}

#partner_name_container {
  width: 600px;
  margin: 0 auto;
}

#partner_name_container p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}

.main_room_container {
  width: 970px !important;
}

.questions_container {
  position: absolute;
  right: 5px;
  height: 500px;
  width: 150px;
  overflow: auto;
}

.questions {
  position: absolute;
  height: 365px;
  width: 150px;
  overflow: auto;
}

.questions_button {
  width: 150px;
}

.hide_questions_button {
  width: 73px;
}
