<div ng-include="'/components/navbar/navbar.html'" ng-controller="navbarController"></div>

<div class="container">
  <div class="row">
	  <div class="page-header">
	    <h1 class="text-center">Lobby</h1>
	  </div>
  </div>

  <div class="row">
	  <div class="col-md-6">
	  	  <input type="text" class="form-control" placeholder="Filter rooms" ng-model="roomFilter" />
	  </div>
	  <div class="col-md-6">
	    <div class="input-group">
	  	  <input type="text" class="form-control" maxlength="45" placeholder="Create room" ng-model="newRoom" />
	  	  <span class="input-group-btn">
	  	    <button type="button" class="btn btn-primary" ng-click="setCurrentRoomAndNavigate(newRoom)">Submit</button>
	      </span>
	    </div>
	  </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-12">
			<h3>Rooms:</h3>
			  <ul class="list-group">
			  	<li class="list-group-item" ng-repeat="room in data.rooms | filter:roomFilter">
			  	  <a href="" ng-click="setCurrentRoomAndNavigate(room)">{{room}}</a>
			    </li>
			  </ul>
		</div>
  </div>
</div>
