<div ng-include="'/components/navbar/navbar.html'" ng-controller="navbarController"></div>

<div id="lobby-container">

  <!-- <div class="input-container">
    <div id="lobby-top-input" class="lobby-central"></div>
    <div id="lobby-bottom-input" class="lobby-central"></div>
  </div> -->

  <div class="input-container">
    <!-- <div style="position: relative; width: 100px; height: 100px; float: right; top: 200px; background-color: red;">

      <div style="position: inline; width: 100px; height: 100px; float: right; background-color: blue;"></style>
      <div style="clear:both"></style>

      <div style="position: inline; width: 100px; height: 100px; float: right; background-color: blue;"></style>
      <div style="clear:both"></style>

      <div style="position: absolute; width: 100px; height: 100px; float: right; background-color: blue;"></style>
    </style> -->

    <!--  LOBBY TITLE -->
    <div class="row">
      <div class="page-header">
        <h1 class="text-center">Lobby</h1>
      </div>
    </div>

      <!-- ROOMS COLLECTION -->
      <div class="row">
        <div class="col-md-12">
          <h3>Rooms:</h3>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="room in data.rooms | filter:roomFilter">
              <a href="" ng-click="setCurrentRoomAndNavigate(room)">{{room}}</a>
            </li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
    <!-- <br /> -->

      <div class="row">
        <div class="lobby-present col-md-offset-3 col-md-6">

          <!-- CREATE A ROOM -->
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <div class="input-group">
                <form ng-submit="setCurrentRoomAndNavigate(newRoom)">
                  <input type="text" class="form-control create-room" maxlength="45" placeholder="Create room" ng-model="newRoom" />
                </form>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="setCurrentRoomAndNavigate(newRoom)">Submit</button>
                  </span>
              </div>
            </div>
          </div>

          <!-- FILTER ROOMS -->
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <input type="text" class="form-control" placeholder="Filter rooms" ng-model="roomFilter" />
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>





<!--
  <div class="container">
    <div class="row">
  	  <div class="page-header">
  	    <h1 class="text-center">Lobby</h1>
  	  </div>
    </div>


    <div class="row">
      <div class="col-md-12">
  			<h3>Rooms:</h3>
  			  <ul class="list-group">
  			  	<li class="list-group-item" ng-repeat="room in data.rooms | filter:roomFilter">
  			  	  <a href="" ng-click="setCurrentRoomAndNavigate(room)">{{room}}</a>
  			    </li>
  			  </ul>
  		</div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Filter rooms" ng-model="roomFilter" />
    </div>
    <div class="col-md-12">
      <div class="input-group">
        <form ng-submit="setCurrentRoomAndNavigate(newRoom)">
          <input type="text" class="form-control" maxlength="45" placeholder="Create room" ng-model="newRoom" />
        </form>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="setCurrentRoomAndNavigate(newRoom)">Submit</button>
          </span>
      </div>
    </div>
  </div> -->
