<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navbarController">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="#/">Rambl</a></li>
      <li ng-if="!isLoggedIn()"><a href='#/login'>Login</a></li>
      <li ng-if="!isLoggedIn()"><a href='#/signup'>Signup</a></li>
      <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn()">
        <li class="top_username"><p class="navbar-text">Signed in as: {{ getUsername() }}</p></li>
        <li><a ng-click="signout();" href="javascript:void(0);">Sign Out</a></li>
      </ul>
    </ul>
  </div>
</nav>
