<div ng-include="'/components/navbar/navbar.html'" ng-controller="navbarController"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 logo_container">
      <h1 class="logo text-center">Hello</h1>
    </div>
  </div>
  <h2>Home Page</h2>
  <!-- <div class="signin">
    <div id='login' class="jumbotron signin_div">
      <form name='loginForm' ng-submit='login();'>
        <div class="alert alert-danger" ng-show="invalidAccountInfo">Invalid email/password.</div>
        <input placeholder="Email" required class="form-control" type='email' maxlength="32" ng-model='user.email'>
        <input placeholder="Password" required class="form-control" type='password' maxlength="32" ng-model='user.password'>
        <br />
        <button class="btn btn-primary bt-lg">Login</button>
      </form>
      <br />
      <a href='#/signup'>Signup</a>
    </div>
  </div> -->
</div>
